
.table-content{
    background-color:#ECF0F1;
    margin:0px;
    padding:0px;
    border-radius:5px

}

.task-form{
    background-color:#D5F5E3;
    padding-top:20px;
    margin-left:10px;
    border-radius:5px
}